@media print {
    header {
        display: none;
    }

    footer {
        display: none;
    }

    video {
        display: none;
    }

    img {
        max-height: 50%;
        max-width: 50%;
    }
}