* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

html,
body {
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: #f8f9fa;
}

#navbar {
    background-color: #a4161a;
}

.navbar-brand,
.nav-link {
    color: #ffffff;
    font-size: 2dvh;
}

@media (max-width: 768px) {
    #carouselImg {
        max-height: 25vh;
    }
    #carousel {
        max-height: 25vh;
    }
  }

  #tape {
    background-color: #d3d3d3;
  }

 