* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: #f8f9fa;
}

#tape,
.accordion-item,
#footer {
    background-color: #d3d3d3;
}

#navbar {
    background-color: #a4161a;
}

.navbar-brand,
.nav-link {
    color: #ffffff;
    font-size: 2dvh;
}

@media (max-width: 768px) {
    #carouselImg {
        max-height: 25vh;
    }

    #carousel {
        max-height: 25vh;
    }
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#tape {
    margin: 2dvh 4.5dvw 0 4.5dvw;
}

.form-title,
.form-paragraph {
    margin: 1em auto;
    text-align: center;
}

